# don't upload data files
*.csv
data/

# Jupyter Notebook
.ipynb_checkpoints

# Ignore all *.pkl files
*.pkl
models/*.pkl
preprocessed_variables/*.pkl
models/

# Ignore macOS system file
.DS_Store

# Ignore all files in models/logs/
models/logs/
