# don't upload data files
*.csv
data/

# Jupyter Notebook
.ipynb_checkpoints

# Ignore all *.pkl files
*.pkl
./models/*
./preprocessed_variables/*

# Ignore macOS system file
.DS_Store

# Ignore all files in models/logs/
./models/logs/*
